@import url(./util.css);

body {
  font-family: sans-serif;
  background-color: var(--cor-primaria);
  height: 100vh;
  display: grid;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: grid;
}

main {
  place-self: center;
}

.container {
  display: grid;
  padding: 3rem;
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--cor-primaria);
  position: relative;
}
.container::after {
  content: "";
  width: 104%;
  height: 104%;
  z-index: -1;
  top: -8px;
  left: -7px;
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
}
