@import url(./util.css);

html {
  font-family: "Nunito";
}

body {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.outter-container {
  place-self: center;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 500px;
  height: 500px;
}

.inner-container {
  display: grid;
  align-items: center;
  border: 0.18rem solid var(--cor-primaria);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.2rem;
}

.cabecalho {
  place-self: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1rem;
  border: 2px solid black;
}

form p,
input {
  margin: 0px;
}

.container-url p {
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.3rem;
}

input {
  width: 450px;
  height: 20px;
  border-radius: 5px;
}

.btn-url {
  place-self: center;
  border: 0px;
  padding: 0.75rem 0.75rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background-color: var(--cor-primaria);
}
