@import url(./util.css);

body {
  font-family: sans-serif;
  background-color: var(--cor-primaria);
  height: 100vh;
  display: grid;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: grid;
}

main {
  place-self: center;
}

.container {
  display: grid;
  padding: 3rem;
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 2px solid var(--cor-secundaria);
}
.tesste {
  border: 2px solid var(--cor-secundaria);
}
